---
import Heading from "@components/Heading.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

interface Project {
  name: string;
  desc: string;
  link: string | null;
  ghLink: string | null;
  tech: string[];
}

const projects: Project[] = [
  {
    name: "Zenith",
    desc: "An App that converts natural language input into usable events or tasks. I intended to work against using complex UIs.",
    tech: [
      "SvelteKit",
      "TailwindCSS & daisyUI",
      "Vercel AI SDK",
      "Drizzle ORM",
      "Neon",
      "better-auth",
      "Stripe",
      "Upstash Rate Limiter",
    ],
    link: "https://zenithproductivity.app",
    ghLink: "https://github.com/nevthereal/zenith",
  },
  {
    name: "KM-Challenge",
    desc: "An app I built for my rowing club. You can track your kilometres and compete inside of clubs.",
    tech: [
      "SvelteKit",
      "TailwindCSS",
      "shadcn-svelte",
      "better-auth",
      "Drizzle ORM",
    ],
    ghLink: "https://github.com/nevthereal/km-challenge",
    link: "https://km-challenge.com",
  },
  {
    name: "Codoodle",
    desc: 'A "social media app" built with SvelteKit and some other modern technologies. This project taught me a lot of backend concepts like auth and databases.',
    tech: [
      "SvelteKit",
      "Skeleton UI",
      "TailwindCSS",
      "Drizzle ORM",
      "Turso",
      "Lucia auth",
    ],
    link: "https://codoodle.nevillebrem.com",
    ghLink: "https://github.com/nevthereal/codoodle",
  },
  {
    name: "Wolffe Bricks",
    desc: "An ecommerce app I built for me and a friend to sell PDF toy instructions.",
    tech: ["SvelteKit", "Skeleton UI", "TailwindCSS", "Stripe"],
    link: "https://wolffebricks.rocks",
    ghLink: "https://github.com/nevthereal/wolffebricks-svelte",
  },
  {
    name: "Lapland Course Event Page",
    desc: "Landing page for an event of the finnish Association of Spinal Surgeons.",
    tech: ["Astro", "TailwindCSS", "React"],
    link: "https://arcticorthopedics.fi",
    ghLink: null,
  },
  {
    name: "BarMates Homepage",
    desc: "A landing page for our sports nutrition business. It's discontinued, but I still want to share it because I am proud of it.",
    tech: ["Astro", "TailwindCSS & daisyUI", "Svelte"],
    link: "https://barmates.ch",
    ghLink: "https://github.com/nevthereal/barmates-landing",
  },
];
---

<BaseLayout title="Work">
  <Heading title="Projects" subtitle="Things I've worked on" />
  <p class="text-center prose-a:link">
    This page only features some of my projects, but you can find all of them on
    <a href="https://github.com/nevthereal" target="_blank">GitHub</a> or on my
    <a href="https://links.nevillebrem.com" target="_blank">linktree</a>.
  </p>
  <div
    class="my-16 flex grid-cols-2 flex-col gap-8 xl:grid max-w-4xl md:mx-auto mx-8"
  >
    {
      projects.map((project) => {
        return (
          <div class="bg-base-200 rounded-box flex flex-col justify-between p-8 text-left border-2 border-base-300">
            <div>
              <h1 class="font-bold text-3xl">{project.name}</h1>
              <hr class="my-4 border-t-2 border-base-300" />
              <p class="font-bold text-xl">Description</p>
              <p>{project.desc}</p>
              <hr class="my-4 border-t-2 border-base-300" />
              <p class="font-bold text-xl">Technologies</p>
              <ul class="disc-list">
                {project.tech.map((tech) => {
                  return <li>{tech}</li>;
                })}
              </ul>
              <hr class="my-4 border-t-2 border-base-300" />
            </div>
            <div>
              <div class="flex gap-2">
                <a
                  href={project.link}
                  target="_blank"
                  aria-label="Project Link"
                >
                  <button class="btn btn-square btn-ghost duration-200 ease-in-out hover:text-primary">
                    <i class="fa-solid fa-globe text-2xl" />
                  </button>
                </a>
                {project.ghLink != null && (
                  <a href={project.ghLink} target="_blank" aria-label="GitHub">
                    <button
                      class="btn btn-square duration-200 ease-in-out hover:text-purple-500 btn-ghost"
                      disabled={!project.ghLink === undefined}
                    >
                      <i class="fa-brands fa-github text-2xl" />
                    </button>
                  </a>
                )}
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>
